.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.Task {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    border: #42b983 2px solid;
}

.descripcion {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    margin-right: 10px;
    border: #42b983 2px solid;
}

.boton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #42b983;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton:hover {
    background-color: #00b63d;
    transition: background-color 0.3s ease;
}